# Google Sheet CSV URL — Prijzen
# Kopieer uit Bestand → Delen → Publiceren op internet → CSV (gid van het prijzen-tabblad)
PUBLIC_PRICING_SHEET_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vStrLqZP2MU6OqwVJxMl-FRGcra88ZoBKDc4YneREvkscFLSBtxsgQFjJvAlE-d_K4sxdl-3kKr9tzL/pub?gid=1809349212&single=true&output=csv

# Google Sheet CSV URL — Vacatures
PUBLIC_VACATURES_SHEET_URL=https://docs.google.com/spreadsheets/d/e/2PACX-1vStrLqZP2MU6OqwVJxMl-FRGcra88ZoBKDc4YneREvkscFLSBtxsgQFjJvAlE-d_K4sxdl-3kKr9tzL/pub?gid=540205886&single=true&output=csv
